@page
@model IndexModel
@{
    ViewData["Title"] = "JWolf's PixelFlut client";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JWolf's PixelFlut client'</h1>
    <p>Connect with your controller to join</p>
    <p>Code can be found at: <a href="https://github.com/MrJavaWolf/PixelFlutGame">https://github.com/MrJavaWolf/PixelFlutGame</a></p>

</div>
